{{extend 'layout.html'}}

    <script language="javascript" src="{{=URL('static','js/passchk.js')}}"></script>
    <script language="javascript" src="{{=URL('static','js/passchk2.js')}}"></script>
    <script language="javascript" src="{{=URL('static','js/passchk3.js')}}"></script>
    <script language="javascript" src="{{=URL('static','js/passchk4.js')}}"></script>
    <script language="javascript" src="{{=URL('static','js/passchk5.js')}}"></script>
    <script language="javascript" src="{{=URL('static','js/passchk6.js')}}"></script>
    <script language="javascript" src="{{=URL('static','js/passchk7.js')}}"></script>
    <script language="javascript" src="{{=URL('static','js/passchk8.js')}}"></script>
    <script language="javascript" src="{{=URL('static','js/passchk9.js')}}"></script>
    <script language="javascript" src="{{=URL('static','js/common.js')}}"></script>
    <script language="javascript" src="{{=URL('static','js/frequency.js')}}"></script>



<div class="well">
<div class="container">
        <div class="row">
                    <div id="web2py_user_form" class="col-lg-6">
<form action="#" enctype="multipart/form-data" method="post" name="passchk_form">


 Skriv in 3 olika lösenord nedan:<input type="password" class="form-control password entropy_check" name="passchk_pass"/>
 <br/><input type ="password" class="form-control password entropy_check" name="passchk_pass2" />
 <br/><input type="password" class="form-control password entropy_check" name="passchk_pass3" />

  <!--<li><span id="passchk_result">Loading ...</span></li>-->
  <!-- <textarea class="text form-control" cols="40" id="passchk_result" name="entropy" rows="10" style="display:none"></textarea>-->

  <textarea class="text form-control" cols="5" id="passchk_result"  name="entropy" rows="2" style="display:none" ></textarea>
  <textarea class="text form-control" cols="5" id="passchk_result2" name="charset" rows="2" style="display:none"></textarea>
  <textarea class="text form-control" cols="5" id="passchk_result3" name="lenght" rows="2" style="display:none"></textarea>
  <br/><br/>
  <textarea class="text form-control" cols="5" id="passchk_result4" name="entropy2" rows="2" style="display:none;" ></textarea>
  <textarea class="text form-control" cols="5" id="passchk_result5" name="charset2" rows="2" style="display:none;" ></textarea>
  <textarea class="text form-control" cols="5" id="passchk_result6" name="lenght2" rows="2" style="display:none;" ></textarea>
  <br/><br/>
  <textarea class="text form-control" cols="5" id="passchk_result7" name="entropy3" rows="2" style="display:none;" ></textarea>
  <textarea class="text form-control" cols="5" id="passchk_result8" name="charset3" rows="2" style="display:none;" ></textarea>
  <textarea class="text form-control" cols="5" id="passchk_result9" name="lenght3" rows="2" style="display:none;" ></textarea>

  <input type="submit" value="Skicka" />
  <input type="hidden" name="_formname" value="test" />
</form>
</div>
</div>
</div>
</div>
