{{extend 'layout.html'}}
<div>
<form action="#" enctype="multipart/form-data" method="post" name="passchk_form">
<ul>
  <li>Your name is <input name="name" /></li>
  <li>Your password <input name="passchk_pass" /></li>
  <!--<li><span id="passchk_result">Loading ...</span></li>-->
  <!-- <li>Your entropy <textarea class="text form-control" cols="40" id="passchk_result" name="entropy" rows="10"></textarea></li>-->
  <li>Your entropy  <input name="entropy" id="passchk_result" /></li>

</ul>
  <input type="submit" />
  <input type="hidden" name="_formname" value="test" />

</form>
</div>
