{{extend 'layout.html'}}
<!--<script language="javascript">var loading ="{{=IMG(_src = URL('static','image/myImage.jpg'))}}"</script>-->
        <script language="javascript">var loading ="{{=URL('static', 'image/assets/states/loading.png')}}"</script>
        <script language="javascript" src="{{=URL('static','js/states/boot.js')}}"></script>
        <script language="javascript">var myImg =  "{{=URL('static', 'image/assets/states/numbers.png')}}"</script>
        <script language="javascript" src="{{=URL('static','js/states/preload.js')}}"></script>
        <script language="javascript" src="{{=URL('static','js/states/gametitle.js')}}"></script>
        <script language="javascript" src="{{=URL('static','js/states/thegame.js')}}"></script>
        <script language="javascript" src="{{=URL('static','js/states/gameover.js')}}"></script>

        <script type="text/javascript">
            (function() {
                var game = new Phaser.Game(320, 480, Phaser.CANVAS, "game");
                this.game.load.image("loading", loading);
                game.state.add("Boot",boot);
                game.state.add("Preload",preload);
                game.state.add("GameTitle",gameTitle);
                game.state.add("TheGame",theGame);
                game.state.add("GameOver",gameOver);
                game.state.start("Boot");
            })();
        </script>




